<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<!-- <GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf013;"></Label>
    <Label class="page-placeholder" text="content"></Label>
</GridLayout> -->
<!-- 
<GridLayout tkExampleTitle tkToggleNavButton class="page page-content">
    <RadListView [items]="sizeList" class="list-group">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout class="list-group-item" rows="auto, *" columns="*, auto">
                <Label row="0" col="0" class="list-group-item-heading" [text]="item.name"></Label>
                <Label row="0" col="1" class="list-group-item-text" [text]="item.unit"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
</GridLayout>
 -->
<StackLayout sdkExampleTitle sdkToggleNavButton>
    <GridLayout rows="auto *">
        <SearchBar row="0" [hint]="searchBarHint" (clear)="onClear($event)" (textChange)="onTextChange($event)"></SearchBar>

        <ListView row="1" [items]="sizeList | filter:searchText:'name'" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="horizontal" class="list-group-item" [class.odd]="odd" [class.even]="even">
                    <Label [text]="item.name" textWrap="true"></Label>
                    <Label text=" ({{item.unit}})"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>